<div class="container">
	<div id="row-article" class="row">
		<div class="col-md-8 miner-container">
			<h2 onmouseup="addTranslationListener()" class="article-title"><%= @article.icon %> <%= @article.title %></h2>
			<p id="lesson-upload-info">uploaded by <b>@<%= @article.user.get_username() %></b> <%= time_ago_in_words(@article.created_at) %></p>

			<div class="row">
				<div onClick="previousPage()" id="lesson-go-back" class="col-md-1">
					<p class="arrow-lesson">◀</p>
				</div>
				<div class="col-md-10">
					<div class="article-section">
					</div>
				</div>
				<div onClick="nextPage()" id="lesson-go-forward" class="col-md-1">
					<p class="arrow-lesson">▶</p>
				</div>
			</div>

			<div id="row-page-mobile" class="row">
				<span id="page-indicators-mobile">
					<span onClick="previousPage()" id="lesson-go-back-mobile">
						previous page | 
					</span>

					<span onClick="nextPage()" id="lesson-go-forward-mobile">
						next page
					</span>
				</span>
			</div>

			<p id="page-indicator" align="center">page <span id="page-number">1</span></p>

			<div style="display: none;" id="full-lesson">
				<%= @article.lesson %>
			</div>
			
		</div>
		
		<div class="col-md-1"></div>

		<div class="col-md-3 miner-container">
			<b id="article-language"><%= @article.language.capitalize %></b>
			<p id="word-selected" align="center" class="word-highlighted">Select a word in the text</p>

			<p id="link-pronunciation" class="link-miner" onClick="pronounce()">Pronunciation 🔈</p>

			<b>Translation 🌎</b>
			<p id="translation">
				The translation will be displayed here
			</p>

		</div>
	</div>
</div>