<div class="container">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a id="polyglot-lab-logo" class="navbar-brand" href="#">
			<div>
				polyglot <span style="font-family: pacifico">lab</span>
			</div>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navigationModal">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="modal fade" id="navigationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">

					<div id="nav-modal-body" class="modal-body">

						<% if logged_in? %>

						<%= link_to "Articles", text_path, class: "modal-nav-item" %>
						<br>
						<!-- Button trigger modal -->
						<a href="#" class="modal-nav-item" data-toggle="modal" data-target="#uploadArticleModal">
							Upload article
						</a>
						<br>
						<%= link_to "SRS", card_path, class: "modal-nav-item" %>
						<br>
						<%= link_to "Account", account_path, class: "modal-nav-item" %>
						<br>
						<%= link_to "Logout", logout_path, method: :delete, class: "modal-nav-item" %>
						<br>
						<% else %>
						<a onclick="toggleModal()" href="#" class="modal-nav-item" data-toggle="modal" data-target="#loginModal">Log in</a>
						<% end %>

					</div>
				</div>

			</div>
		</div>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">

				<% if logged_in? %>

				<%= link_to "Articles", text_path, class: "nav-link" %>

				<!-- Button trigger modal -->
				<a href="#" class="nav-link" data-toggle="modal" data-target="#uploadArticleModal">
					Upload article
				</a>

				<%= link_to "SRS", card_path, class: "nav-link" %>
				<%= link_to "Account", account_path, class: "nav-link" %>
				<%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
				<% else %>
					<a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Log in</a>
				<% end %>
			</ul>
		</div>
	</nav>
</div>

<%= render 'layouts/upload' %>